header {
		height: 65px;
}
#title-site {
	float: right;
	margin-right: 200px;

}

#title-site p a{
		font-size: 40px;
		color: #030000;
		margin-top: 0px;
		margin-left: 30px;
		margin-bottom: 0px;
		text-decoration: none;
        padding: 0px;
}

nav {
	width: all;
    height: 43px;
    claer: both;
    background: #A9A9A9;
}

nav ul li {
    height: 55px;
    float: left;
    position: relative;
    list-style-type: none;
}

nav ul li a {
	font-weight: bold;
	font-size: 40px;
    line-height: 14px;
    color: #000000;
    display: block;
    padding: 14px 30px;
    text-decoration: none;
}

nav ul li:first-child a {
    padding-left: 25px;
}

nav ul li a:hover {
	background-color: #B8B5B5;
    color: #000000;
}


